.headerMenu {
  letter-spacing: 3px;
cursor: pointer;
}
.headerLogo {
    letter-spacing: 3px;  
    h2{
      padding-right: 15px;
      
        border-right: 2px solid black;
    }
    div{
        line-height: 18px;
    }
   
}
.headerbgBlack {
  background-color:#4E4C4E;

}
.headerbgWhite {
  background-color: white;
}